#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #FFDBA6 0%, #FF9595 100%);
}

body {
    font-family: sans;
}

#search-logo {
    max-width: 80%;
    margin: 15vh auto 2em auto;
    display: block;
}

#search-box {
    max-width: 80vw;
    margin: auto;
    text-align: center;
}

#search-input {
    margin: auto;
    width: 24em;
    max-width: 80%;
    text-align: center;
}

.search-entry {
    margin: auto;
    width: 24em;
    max-width: 80%;
    text-align: center;
    border: 2px solid;
    border-radius: 4px;
    margin: 1em auto 1em auto;
    background: wheat;
    padding: 1em 0;
    cursor: pointer;
}

.search-entry:hover {
    background: white;
}

.error {
    background: gold;
}
